{% extends "layout.njk" %}

{% block content %}
<h1 class="mb-4 text-success">Submission Successful</h1>

<p>Thank you for your submission. Your details have been received.</p>

<a href="/" class="btn btn-primary">Return to Start</a>
{% endblock %}